textarea{
  width: 400px;
  min-height: 42px;
  height: 42px;
  max-height: 200px;
  background-color: transparent;
  border-radius: 7.5px;
  border: solid #1a1a1a 1px;
  padding: 0 10px;
  transition: border-color 0.25s;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  font-family: inherit; 
  font-weight: 100;      /* Deixa a letra bem fina */
  font-size: 14px;       /* Ajuste conforme o tamanho dos cards */
  color: white;
  line-height: 1.5;
  padding: 10px;
  background-color: #1a1a1a11;
  transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
}

textarea:hover{
  border: 1px solid #747bff;
}

textarea:focus{
  outline:none;
  
}

.campoSalvar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.campoSalvar > button{
  position: relative;
  height: 100%;
}

.cards{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width:850px;
  border-top: dashed #ffffff40 1px;
  margin-top: 20px;
}

.itempc{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s ease-in;
  animation: surgirItem 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.itempc::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  filter: blur(45px);
  opacity: 0;
  transform: translate(-50%,-50%);
  animation: surgirItem2 0.4s ease-in-out; 
}

.itempc > div{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 900px;
  gap:10px;
}

@keyframes surgirItem {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes surgirItem2 {
  from{opacity: .8;}
  to{opacity: 0;}
}



.card{
  box-sizing: border-box; 
  border: solid #1a1a1a 2px;
  background-color: black;
  border-radius: 7.5px;
  transition: border-color .25s, width .5s;
  padding: 0 50px;
  min-height: 50px;
  width: 100%;
  overflow-wrap: break-word; 
  z-index: 1;
  display: flex;
  align-items: center;
}

.card:hover{ border-color: rgb(255,0,0,.5); }

.itempc:hover .imagemCopiar { 
  opacity: .8; 
  z-index: 2;
}

@media screen and (width >= 860px){
.itempc:hover .card { width: 94%; }
.itempc:hover .numeracaoCard { opacity: .5; }

}

.itempc:hover .TextAlignEnd{
  opacity: 0;
  right: 4%;
}

.card:hover p{ text-shadow: #ffffff 0 0 15px; } 

.card > p{
  font-weight: lighter;
  z-index: 2;
  transition: text-shadow .5s;
}

.numeracaoCard{
  min-height: 5px;
  color:rgb(255,255,255);
  font-size: 15px;
  opacity: .1;
  transition: opacity .5s;
  padding: 0px 15px;
}

.imagemCopiar{
  position: absolute;
  right: 0;
  max-width: 25px;
  max-height: 25px;
  filter: invert(50%);
  flex-grow: .025;
  transition: opacity 1s, filter .25s;
  opacity: 0;
  z-index: 0;
  flex-grow: 0;
}

.imagemCopiar:hover{
  filter: invert(90%);
  cursor: pointer;
}

.Header{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  margin: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid rgb(255,255,255,0.5);
  background-color: black;
  z-index: 9999;
}

.Header > .titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 5;
  font-weight: 50;
  font-size: 18px;
}

.Header > a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 50;
  font-size: 15px;
  flex-grow: 5;
  transition: text-shadow .25s ease-in-out;
}

.Header > a:hover{
  text-shadow: #ffffff 0 0 5px;
}

.cardTexto{
  max-width: 620px;
}

.TextAlignEnd{
  position: absolute;
  opacity: .3;
  transition: all .5s;
  right: 2%;
}

.copiarClicado{
  animation: copiarClicado .25s ease-in-out;
}

@keyframes copiarClicado {
  0%{transform: scale(100%);}
  10%{
    transform: scale(110%);
    opacity: 1;
  }
  100%{
    transform: scale(100%);
    opacity: .8;
  }
}

.piscarFundo::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,rgba(255, 255, 255, 0.02),transparent);
  opacity: 0;
  z-index: -1;
  animation: fadeFlash .5s ease-in-out;
}

@keyframes fadeFlash {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.ReactLogoBg{
  position: fixed;
  left:-30%;
  top:30%;
  opacity: .1;
  z-index: -1;
  filter: brightness(300%) blur(40px);
  animation: girarFundoLogo linear infinite 15s;
  pointer-events: none;
}

@keyframes girarFundoLogo {
  0%{transform: rotateY(30deg) rotateX(30deg) rotateZ(0deg) scale(150%);}
  100%{transform: rotateY(30deg) rotateX(30deg) rotateZ(360deg) scale(150%);}
}

@media screen and (width < 860px){
  .itempc{
    flex-direction: column;
    justify-content: center;
    width: 200%;
  }

  .itempc > div{
    width: 50%;
    flex-direction: column;
  }

  .cards{
    gap: 20px;
    align-items: center;
    width: 90%;
  }

  .card{
    width: 100%;
    padding: 0 10px;
    overflow-wrap:anywhere;
  }

  .imagemCopiar{
    position: relative;
    z-index: 3;
  }

  .TextAlignEnd{
    display: none;
  }

  .numeracaoCard{
    opacity: .8;
    border-top: solid 1px rgb(255,255,255,0.2);
    border-radius: 5px;
    padding-top: 15px;
    width: 48%;
    text-shadow: #ffffff 0 0 3px;
  }

  textarea{
    width: 100%;
    overflow-wrap: break-word;
    max-height: 200px;
  }

  h1{
    font-size: 2em;
  }

  .Header > a{
    flex-grow: 50;
  }

  .ReactLogoBg{
    left: -80%;
    filter: blur(40px);
    opacity: .08;
  }

}